.final_panel {
  background-color: #f1f1ff;
  border: #ddd;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  .pricing-plan {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing-header {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #848484;
  }
  .pricing-features {
    color: #016ff9;
  }
  .pricing-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }
  .pricing-price {
    font-size: 30px;
    font-weight: bold;
    color: #016ff9;
  }
  .pricing-button {
    display: block;
    padding: 8px;
    width: 50%;
    border: solid 1px #016ff9;
    color: #016ff9;
    border-radius: 12px;
    &:hover {
      background-color: #016ff9;
      color: #fff;
    }
  }
}

@media (min-width: 800px) {
  .final_panel {
    grid-template-columns: repeat(3, 1fr);
  }
}
