.tictactoe{
    background: #666;
    font-family: Arial, Helvatia, sans-serif;
    width: 400px;
    margin: 40px auto;
    border-radius: 10px;
    padding-bottom: 40px;
    h2{
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
    .board{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li{
            margin: 10px;
            width: 90px;
            height: 70px;
            font-size: 40px;
            font-weight: 800;
            background-color: #333;
            color: #ccc;
            list-style: none;
            text-align: center;
            border-radius: 5px;
            &:hover{
                cursor:pointer;
                background-color: #000;
            }
        }
        .x{
            color: #fd2222;
        }
        .o{
            color: #208427;
        }
        .plus{
            color: #ffffff;
        }
    }
    footer{
        display: block;
        text-align: center;
        padding: 15px;

    }
    .resetBtn{
        background-color: #444;
        color: #fff;
        padding: 15px;
        width: 75%;
        font-size: 25px;
        border-radius: 5px;
        &:hover{
            cursor:pointer;
            background-color: #000;
        }
    }
}