@use "./global";

.nav {
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    line-height: 1;

    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &-toggle{
        font-size: 1.5rem;
        color: var(--primary-500);
        background-color: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;

        &:hover{
            transform: rotate(90deg);

        }
    }
    .logo{
        margin-bottom: 0;  
        span{
            color: var(--primary-500);
        }
    }
    .social-icons{
        display: none;
    }
   
    a{
        color: var(--grey-700);
        font-size: 1rem;
        padding: 0.75rem 1rem;
        display: block;
        letter-spacing: var(--letterSpacing);
        transition: var(--transition);
        &:hover{
            background-color: var(--primary-300);
            color: var(--primary-500);
            padding-left: 1.5rem;
        }
    }
}

@media screen and (min-width:800px){
    .nav{
        &-toggle{
            display: none;
        }
        &-center{
            max-width:var(--max-width);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
        
        &-links{
            display: flex;
            a{
                padding: 0;
                margin: 0 0.5rem;

                &:hover{
                    padding: 0;
                    background: transparent;
                    padding-bottom:3px ;
                    border-bottom:2px solid purple;
                }
            }
        }
        .social-icons{
            display: flex;
            a{
                margin: 0 0.5rem;
                color: var(--primary-500);
                transition: var(--transition);
                &:hover{
                    color: var(--primary-300);
                }
            }
        }
    }
}


