@use "./global";

.nav {
    background-color: var(--grey-3);
    box-shadow: var(--shadow-2);
    line-height: 1;
    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &-toggle{
        font-size: 1.5rem;
        color: var(--primary-500);
        background-color: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;

        &:hover{
            transform: rotate(90deg);

        }
    }
}

.logo{
    margin-bottom: 0;  
    span{
        color: var(--primary-500);
    }
}

